 <% r =  locals.first[1] %>
 <% index=locals[:index] %>
 <% wavepower=[] %>

<% if r["temperature"] > 6 %>
 <% color="w#{r["wind_force"].to_s}" %>
 <% gcolor="w#{r["wind_gust"].to_s}" %>
 <% else %>
 <% color="wcold" %>
 <% gcolor="wcold" %>
<% end %>

 <li>
    <div class="accordion session"  id="accordion1">
      <div class="accordion-group">
        <div class="accordion-heading" >
          <div class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse<%=index%>">
            <span class="badge badge-pill badge-dark"><%=r["sport"].to_s[0] %></span>
            <%=r["hour"].to_s %>
            <span class="label"><%=r["label"].to_s%></span>
            <%# <%=r["name"] %>
            <span class="wind">
              <span class=<%= color %>> <%=r["wind_force"].to_s %> <%= " | " %></span> <span class=<%= gcolor%> > <%= r["wind_gust"].to_s %></span>
              <%=(r["wind_direction"]) %>
            </span>
            <span class="wave">
            <%=(r["wave_height"]== nil ? 'no_wave' : (r["wave_height"]/(10.0)).to_s+"m")%>
            <%=(r["wave_direction"])==nil ? 'no_wave_dir' : (r["wave_direction"].to_s) %>
            <%=(r["wave_period"])== nil ? 'no_period' : (r["wave_period"].to_s+"sec") %>
            </span>
          </div>
        </div>
      <div id="collapse<%=index%>" class="accordion-body collapse in">
        <div class="accordion-inner">
            <%=(r["tide_height"]) == nil ? 'no-tide' :((r["tide_height"]).to_s+"m")%>
            <%=r["tide_direction"] == nil ? 'no_tide' : ((r["tide_direction"]).to_s) %>
            <%=r["rain_mm"].to_s+'mm' %>
            <%=r["temperature"].to_s+'°c' %>
            <%=r["pression"].to_s+'Hpa' %>
            <% wavepower = (r["wave_height"]/(10.0))*(r["wave_period"]**2) if (r["wave_height"]!= nil)%>
            <%= (wavepower.to_i) if wavepower!=[] %><%= " watt"if wavepower!=[] %>
            <%=r["model"]  %>
            <%=r["last_update"].to_s  %>

        </div>
      </div>
    </div>
  </div>
</li>
