<div class="container">
  <div class="row">
    <div class="col-sm">
      <!-- vide -->
    </div>
    <div class="col-sm">
    <h1>spot list</h1>

    <ul>
      <% @spots.each do |spot|  %>
     <li> <%= link_to spot.name, spot_path(spot) %> <%= link_to "edit", edit_spot_path(spot) %> <%= link_to "Delete",
            spot_path(spot),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
</li>
    <% end %>
    </ul>

      <!-- <div><%#= link_to "see",show_path  %></div> -->
      <div><%= link_to "new spot",new_spot_path  %></div>
      <div><%= link_to "wizard", wizard_path  %></div>
    </div>
    <div class="col-sm">
      <!-- vide -->
    </div>
  </div>
</div>










