<div class="container">
  <div class="row">
    <div class="col-sm">
      <!-- vide -->
    </div>
    <div class="col-sm">

    <h1><%= @spot.name %></h1>
    <p><%= @spot.active %></p>
    <%# <p><%= @spot.configuration %></p> %>
    <p><%= @spot.label %></p>
    <p><%= @spot.latitude %></p>
    <p><%= @spot.longitude %></p>
    <p><%= @spot.wind_force_maxi %></p>
    <p><%= @spot.wind_force_mini %></p>
    <p><%= @spot.wind_directions.class %></p>

    <% @spot.wind_directions.each do |dir| %>
    <p> <%= dir[:direction] %> </p>

    <% end %>
    <p><%= @spot.tide_mini %></p>
    <p><%= @spot.tide_max %></p>
    <p><%= @spot.low_tide %></p>
    <p><%= @spot.mid_tide %></p>
    <p><%= @spot.high_tide %></p>
    <p><%= @spot.coeff_mini %></p>
    <p><%= @spot.coeff_maxi %></p>
    <p><%= @spot.wave_directions.class %></p>

    <% @spot.wave_directions.each do |dir| %>
    <p> <%= dir[:direction] %> </p>
    <% end %>

    <p><%= @spot.wave_height_mini %></p>
    <p><%= @spot.wave_height_maxi %></p>
    <p><%= @spot.periode_mini %></p>
    <p><%= @spot.periode_maxi %></p>
    <p><%= @spot.windfinder %></p>
    <p><%= @spot.windfindersuper %></p>
    <p><%= @spot.shom %></p>


    <div><%= link_to "back", spots_path  %></div>
    </div>
    <div class="col-sm">
      <!-- vide -->
    </div>
  </div>
</div>

