<div class="container">
  <div class="row">
    <div class="col-3">
      <!-- vide -->
    </div>
    <div class="col-6 white">
      <h1 class="text-center">Wizard</h1>
      <div>

      </div>
      <ul class="list-unstyled">
        <% if @result != nil %>
          <% @result.each_with_index do |r,index|%>

            <%= render "session", locals: {r: r, index: index} %>
          <% end %>
      </ul>
    <% end %>

    <span class="fa-rotate-0" style="display: inline-block;">
        <i class="fas fa-location-arrow"></i>
      </span>
      <span class="fa-rotate-23" style="display: inline-block;">
          <i class="fas fa-location-arrow"></i>
        </span><span class="fa-rotate-45" style="display: inline-block;">
        <i class="fas fa-location-arrow"></i>
      </span><span class="fa-rotate-67" style="display: inline-block;">
        <i class="fas fa-location-arrow"></i>
      </span><span class="fa-rotate-90  " style="display: inline-block;">
        <i class="fas fa-location-arrow"></i>
      </span>


    <div> <%=   (@result.count + 1).to_s + " sessions" if @result !=nil %> </div>

      <div><%=  @perf %> </div>

      <div><%= link_to "spot list",spots_path  %></div>
      <div><%= link_to "options", options_path  %></div>

    </div>
    <div class="col-3">
      <!-- vide -->
    </div>
  </div>
</div>

