<div class="container">
  <div class="row">
    <div class="col-1">
      <!-- vide -->
    </div>
    <div class="col-10 white">
      <h1> resultat du wizard</h1>
      <ul>

      <% @result.each do |r|%>
       <%# <% binding.pry %>
        <li>
          <%=r["sport"].to_s[0] %>
          <%=r["label"].to_s%>
          <%# <%=r["name"] %>
          <%=r["day_name"]%>
          <%=r["time_stamp"].to_s %>
          <%=r["hour"].to_s %>
          <%=r["wind_force"].to_s %><%= " | " %><%= r["wind_gust"].to_s %>
          <%=(r["wind_direction"]) %>
          <%=(r["tide_height"]) == nil ? 'no-tide' :((r["tide_height"]).to_s+"m")%>
          <%=r["tide_direction"] == nil ? 'no_tide' : ((r["tide_direction"]).to_s) %>
          <%=(r["wave_direction"])==nil ? 'no_wave_dir' : (r["wave_direction"].to_s) %>
          <%=(r["wave_height"]== nil ? 'no_wave' : (r["wave_height"]/(10.0)).to_s+"m")%>
          <%=(r["wave_period"])== nil ? 'no_period' : (r["wave_period"].to_s+"sec")%>
          <%=r["rain_mm"].to_s+'mm' %>
          <%=r["temperature"].to_s+'°c' %>
          <%=r["pression"].to_s+'Hpa' %>
          <%=r["model"]  %>
        </li>
       <% end %>
      </ul>
      <div> <%= @spot %> </div>

      <div><%= @test  %> </div>

      <div><%=  @perf %> </div>

      <div><%= link_to "spot list",spots_path  %></div>
      <div><%= link_to "options", options_path  %></div>

    </div>
    <div class="col-1">
      <!-- vide -->
    </div>
  </div>
</div>

      <%# <li> <%= r[:name] + ' ' + r[:day_name] + ' ' + r[:time_stamp].to_s + ' ' + r[:hour].to_s + ' ' + r[:wind_force].to_s + '|' + r[:wind_gust].to_s + ' ' + r[:wind_direction] + ' ' + (r[:tide_height] == nil ? 'no-tide' :(r[:tide_height] / 10.0).to_s+"m") +'|' + (r[:wave_height] / (10.0)).to_s + 'm ' + r[:wave_direction].to_s + 'deg ' + r[:wave_period].to_s + 's' + ' ' +r[:model] } %> </li> %>
      <%# <li> <%= r[1][:name] + ' ' + r[1][:day_name] + ' ' + r[1][:time_stamp].to_s + ' ' + r[1][:hour].to_s + ' ' + r[1][:wind_force].to_s + '|' + r[1][:wind_gust].to_s + ' ' + r[1][:wind_direction] + ' ' + (r[1][:tide_height] == nil ? 'no-tide' :(r[1][:tide_height]).to_s+"m") +' | ' + (r[1][:wave_height] / (10.0)).to_s + ' m ' + r[1][:wave_direction].to_s + r[1][:wave_period].to_s + 's' + ' ' +r[1][:model] %> </li> %>


