<div class="container">
  <div class="row">
    <div class="col-3">
      <!-- vide -->
    </div>
    <div class="col-6 white">
      <h1 class="text-center">Wizard</h1>
      <div>

      </div>
      <ul class="list-unstyled">
        <% if @result != nil %>
          <% @result.each_with_index do |r,index|%>

            <%= render "session", locals: {:r => r, :index => index} %>
          <% end %>
      </ul>
    <% end %>



    <div> <%=   (@result.count + 1).to_s + " sessions" if @result !=nil %> </div>

      <div><%=  @perf %> </div>

      <div><%= link_to "spot list",spots_path  %></div>
      <div><%= link_to "options", options_path  %></div>

    </div>
    <div class="col-3">
      <!-- vide -->
    </div>
  </div>
</div>

