<div class="container">
  <div class="row">
    <div class="col-0 col-md-3">
      <!-- vide -->
    </div>
    <div class="col-xs-12 col-md-6 white">
      <h1 class="text-center">Wizard</h1>
      <div>

      </div>
        <ul class="list-unstyled" >
          <% if @result != nil %>
          <% date = nil %>
            <% @result.each_with_index do |r,index|%>
              <% if date == nil || date != r["time_stamp"]%>
                    <!-- afficher le time_stamp -->
                    <%=r["day_name"].to_s %>
                    <%=r["time_stamp"].to_s %>
                    <!-- afficher la session -->
                    <%= render "session", locals: {r: r, index: index} %>
                    <!-- mettre à jour la variable "date" = result[Timestamp] -->
                    <% date = r["time_stamp"] %>
                    <!-- case = date -->
      <%#= binding.pry %>

                <% else %>
                    <!-- afficher la session -->
                    <%= render "session", locals: {r: r, index: index} %>
              <% end %>
            <% end %>
          <% end %>

        </ul>




    <div> <%=   (@result.count + 1).to_s + " sessions" if @result !=nil %> </div>

      <div><%=  @perf %> </div>

      <div><%= link_to "spot list",spots_path  %></div>
      <div><%= link_to "options", options_path  %></div>

    </div>
    <div class="col-0 col-md-3">
      <!-- vide -->
    </div>
  </div>
</div>


    <!-- <span class="fa-rotate-0" style="display: inline-block;">
        <i class="fas fa-location-arrow"></i>
      </span>
      <span class="fa-rotate-23" style="display: inline-block;">
          <i class="fas fa-location-arrow"></i>
        </span><span class="fa-rotate-45" style="display: inline-block;">
        <i class="fas fa-location-arrow"></i>
      </span><span class="fa-rotate-67" style="display: inline-block;">
        <i class="fas fa-location-arrow"></i>
      </span><span class="fa-rotate-90  " style="display: inline-block;">
        <i class="fas fa-location-arrow"></i>
      </span> -->
